{
    "service": {
      "id": "selenoid-{{ ansible_hostname }}",
      "name": "selenoid",
      "tags": ["linux", "selenoid", "docker"],
      "address": "{{ ansible_default_ipv4.address }}",
      "meta": {
        "host": "ansible_hostname",
        "cm_version": "{{ selenoid_cm_version }}",
        "selenoid_version": "{{ selenoid_version }}"
      },
      "port": {{ selenoid_port }},
      "enable_tag_override": false,
      "checks": [
        {
          "id": "selenoid-{{ ansible_hostname }} check",
          "name": "selenoid tcp check status on port 4444",
          "http": "{{ health_check }}",
          "method": "GET",
          "timeout": "{{ timeout }}",
          "interval": "{{ interval }}"
        }
      ],
      "weights": {
        "passing": 5,
        "warning": 1
      }
    }
  }