{
    "service": {
      "id": "selenoid",
      "name": "selenoid",
      "tags": ["chrome","opera","firefox"],
      "Port": 4444,
      "meta": {
          "firefox": "65.0,64.0,63.0",
          "opera": "58.0,57.0,56.0",
          "chrome": "73.0,72.0,71.0"
      },
      "check": {
        "id": "Selenoid_HTTP",
        "name": "Selenoid Health check",
        "http": "http://localhost:4444/status",
        "tls_skip_verify": false,
        "method": "GET",
        "interval": "10s",
        "timeout": "1s"
      },
      "weights": {
        "passing": 5,
        "warning": 1
      }
    }
}