{
  "service":{
    "id":"selenoid",
    "name":"selenoid",
    "tags":[
      "chrome"
    ],
    "Port":4444,
    "meta":{
      "chrome":"80.0"
    },
    "check":{
      "id":"Selenoid_HTTP",
      "name":"Selenoid Health check",
      "http":"http://localhost:4444/status",
      "tls_skip_verify":false,
      "method":"GET",
      "interval":"10s",
      "timeout":"1s"
    },
    "weights":{
      "passing":5,
      "warning":1
    }
  }
}
