[Unit]
Description=selenoid

[Service]
Type=simple
User=selenoid
GuessMainPID=true
ExecStart="DOCKER_API_VERSION={{ DOCKER_API_VERSION }} {{ selenoid_config_dir }}/selenoid -conf {{ selenoid_config_dir }}/config/browsers.json"
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -15 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target