[Unit]
Description=selenoid

[Service]
Environment="DOCKER_API_VERSION=1.38"
Type=simple
User=selenoid
GuessMainPID=true
ExecStart={{ selenoid_config_dir }}/selenoid -conf {{ selenoid_config_dir }}/config/browsers.json -video-output-dir /opt/selenoid/video -log-output-dir /opt/selenoid/logs -limit {{ concurrent_session_count }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -15 $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
